# Python
__pycache__/
*.py[cod]
*.so
.Python

# Docker
certbot/
*.log
data/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database
*.db
*.sqlite

# Environment
.env
venv/
env/

# Вложенные папки
semestr6/
