<!DOCTYPE html>
<html lang="ru">
<head>

    <meta charset="UTF-8">

    <title>Конвертер единиц измерения</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>Конвертер единиц измерения</h1>

    <form method="POST">

        <label>Категория</label>

        <select id="category"
                name="category"
                onchange="updateUnits()">

            <option value="length" {% if selected_category == "length" %}selected{% endif %}>Длина</option>
            <option value="mass" {% if selected_category == "mass" %}selected{% endif %}>Масса</option>
            <option value="time" {% if selected_category == "time" %}selected{% endif %}>Время</option>
            <option value="volume" {% if selected_category == "volume" %}selected{% endif %}>Объем</option>

        </select>

        <label>Значение</label>

        <input
                type="number"
                step="any"
                name="value"
                value="{{ value }}"
                required>

        <label>Из</label>

        <select id="from_unit"
                name="from_unit"></select>

        <label>В</label>

        <select id="to_unit"
                name="to_unit"></select>

        <button type="submit">
            Перевести
        </button>

    </form>

    {% if result is not none %}
        <div class="result">
            Результат: {{ result }}
        </div>
    {% endif %}

</div>

<script>

const selectedFrom = "{{ from_unit }}";
const selectedTo = "{{ to_unit }}";

const units = {

    length: [
        "метры",
        "километры",
        "сантиметры",
        "миллиметры",
        "мили"
    ],

    mass: [
        "килограммы",
        "граммы",
        "фунты",
        "тонны"
    ],

    time: [
        "секунды",
        "минуты",
        "часы",
        "дни"
    ],

    volume: [
        "литры",
        "миллилитры",
        "кубические метры"
    ]
};

function updateUnits() {

    const category = document.getElementById("category").value;

    const from = document.getElementById("from_unit");
    const to = document.getElementById("to_unit");

    from.innerHTML = "";
    to.innerHTML = "";

    units[category].forEach(unit => {

        let option1 = document.createElement("option");
        option1.value = unit;
        option1.text = unit;

        if (unit === selectedFrom) {
            option1.selected = true;
        }

        from.appendChild(option1);

        let option2 = document.createElement("option");
        option2.value = unit;
        option2.text = unit;

        if (unit === selectedTo) {
            option2.selected = true;
        }

        to.appendChild(option2);
    });
}

updateUnits();

</script>

</body>
</html>
